[mysqld]

datadir=/data/mysql/mysql__NO__
pid-file = /tmp/mysql__NO__.pid
user                     = mysql
bind-address             = 127.0.0.1
server-id                = __NO__

# CREATE USER 'rep'@'127.0.0.1' IDENTIFIED WITH mysql_native_password BY 'rep';
# FLUSH PRIVILEGES;

#CHANGE REPLICATION SOURCE TO
#SOURCE_HOST='127.0.0.1',
#SOURCE_USER='rep',
#SOURCE_PASSWORD='rep',
#SOURCE_LOG_FILE='mysql-bin.000003',
#SOURCE_LOG_POS=899;

general_log = 1

innodb_data_home_dir                = /data/mysql/mysql__NO__
innodb_buffer_pool_size             = 5444333
innodb_buffer_pool_filename         = ib_buffer_pool
innodb_data_file_path               = ibdata1:5444333:autoextend1
innodb_log_group_home_dir           = /data/mysql/mysql__NO__
innodb_file_per_table=ON


socket =                      /tmp/mysql__NO__.sock

port                           = 330__NO__
socket                         = /tmp/mysql__NO__.sock

log_bin                  =       /var/log/mysql/mysql__NO__/binlogs/mysql-bin.log
log-error                      = /var/log/mysql/mysql__NO__/error.log
general_log_file               = /var/log/mysql/mysql__NO__/general.log
log_slave_updates              = 1

# only on delayed slaves.
#CHANGE MASTER TO MASTER_DELAY = 10;

# Put on the masters
# Then you can check if semi synchronous replication is on
# by looking at the Slave's status variable.
# rpl_semi_sync_master_enabled=ON
#

# Enable on slave, might have to restart replication.
# Then you can check if semi synchronous replication is on
# by looking at the Slave's status variable.
# rpl_semi_sync_slave_enabled=ON

